extends ../custom_module/releaseTemplate

block main
  -
    var users = [
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      },
      {
        name: '郭子榕',
        nameEn: 'GUO，ZI－RONG',
        male: '女 ',
        birth: '1993年06月01日',
        married: '未婚',
        wight: '164公分 53公斤',
        mail: 'leonaguo820601@gmail.com',
        phone: '0982327851 ',
        tel: '(04)25243667',
        address: '台北市大安區信義路四段279號7F',
        jobed: '無工作(待業中) ',
        spcial: '前總統 ',
        license: '普通重型機車駕照  ',
        traffic: '普通重型機車	 ',
        biography: '傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。'
      }
    ]
  header.row
    h3.title 應徵者紀錄
  each user in users
    .row.release-content.release-user
      .col-sm-8.col-xs-12
        ul.list.styled
          li.img
            img.img-responsive(src="./dist/images/personal.png", alt="")
          li
            span.title 中文姓名
            span=user.name
          li
            span.title 英文名字
            span=user.nameEn
          li
            span.title 性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;別
            span=user.male
          li
            span.title 出生日期
            span=user.birth
          li
            span.title 婚姻狀況
            span=user.married
          li
            span.title 身高體重
            span=user.wight
          li
            span.title E-mail
            span=user.mail
          li
            span.title 聯絡電話
            span=user.phone
          li
            span.title 住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家
            span=user.tel
          li
            span.title 通訊地址
            span=user.address
          li
            span.title 就業狀態
            span=user.jobed
          li
            span.title 特殊身份
            span=user.spcial
          li
            span.title 具備駕駛執照
            span=user.license
          li
            span.title 具備交通工具
            span=user.traffic
          li
            span.title 自&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傳
            span=user.biography
      .col-sm-4.col-xs-12
        ul.btn-list.styled
          li
            a.btn.light-brown(href="/worknews/resume.html#resume05") 
              span.glyphicon.glyphicon-check
              span 發送通知