extends ../custom_module/releaseTemplate

block main
  -
    var jobs = [
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      },
      {
        title: 'A7跨年活動PT',
        company: '在臺形能為',
        pay: 'NT$300',
        info: ['物有策怎；不良工！案正這','在了用落規國不！孩變時：總事半法每內建了','除不哥的朋主化常樹行能片成片樹','笑媽對安位長使嚴幾的節軍清升訴隨票對學法代'],
        site: '台北市',
        city: 'COMMUNE A7貨櫃市集，110台北市信義區松壽路3號',
        date: '2018/01/01-2018/09/09 Am05:00~Pm05:00',
        contact: 's8505952001@gmail.com',
        meetting: 'Andy 09xx-xxx-xxx'
      }
    ]
  header.row
    h3.title 發佈工作
    header.col-xs-12
      | 您尚可使用
      span.num 3
      | 條頭條消息
    main.col-xs-12
      a.btn.text-light-brown(href="release_modified.html")
        span.glyphicon.glyphicon-plus
        | 新增工作
  each job in jobs
    .row.release-content
      .col-sm-8.col-xs-12
        h3.title.text-light-brown=job.title
        ul.list.styled
          li
            span.title 公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司
            span=job.company
          li
            span.title 時&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪
            span=job.pay
          li
            span.title 工作內容
            ul.styled
              each info in job.info
                li=info
          li
            span.title 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;區
            span=job.site
          li
            span.title 工作地點
            span=job.city
          li
            span.title 工作時間
            span=job.date
          li
            span.title 聯絡方式
            span=job.contact
          li
            span.title 面試方式
            span=job.meetting
      .col-sm-4.col-xs-12
        ul.btn-list.styled
          li
            a.btn.light-brown(href="release_modified.html") 
              span.glyphicon.glyphicon-pencil
              span 編輯
          li
            a.btn.light-brown(href="#") 
              span.glyphicon.glyphicon-trash
              span 刪除
          li
            a.btn.light-brown(href="#") 
              span.glyphicon.glyphicon-upload
              span 上架
          li
            a.btn.light-brown(href="#") 
              span.glyphicon.glyphicon-pushpin
              span 頭條消息
          li
            a.btn.light-brown(data-toggle="tab" href="#release02")
              span.glyphicon.glyphicon-envelope
              span 應徵者紀錄