//- include ../jsonFormat/tabs_site
include ../workLayout/layout
include ../components/accordion
-
  var release = [
    {title: '發佈工作', _id: 'release01', icon: 'glyphicon glyphicon-send'},
    {title: '訊息記錄', _id: 'release02', icon: 'glyphicon glyphicon-inbox'},
    {title: '加值服務', _id: 'release03', icon: 'glyphicon glyphicon-usd'}
  ]
<!DOCTYPE html>
html(lang="zh-hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
    link(rel="stylesheet", href="./dist/css/animate.min.css")
    link(rel="stylesheet", href="./dist/css/usercss.css")
    script(src="./dist/js/jquery.min.js")
    script(src="./dist/js/bootstrap.min.js")
    script(src="./dist/js/owl.carousel.min.js")
    script(src="./dist/js/vivus.min.js")
    script(src="./dist/js/userjs.js")
    title 發佈快報
  body
      include ../custom_module/social-menu
      include ../custom_module/header
      .container-fluid.worktabs.resume.release
        // tabs
        // desktop only
        ul.nav.nav-tabs.site
          each item,index in release
            if (index === 2)
              li.active
                a(data-toggle="tab", href=`#${item._id}`)
                  span.visible-xs(class=item.icon)
                  span=item.title
            else if (index === 1)
              // 訊息記錄
              li
                a(href=`javascript: redirectToMessage()`)
                  span.visible-xs(class=item.icon)
                  span=item.title
            else
              li
                a(data-toggle="tab", href=`#${item._id}`)
                  span.visible-xs(class=item.icon)
                  span=item.title
        .tab-content.server
          each item, index in release
              if (index === 0)
                .tab-pane.fade(id=`${item._id}`)
                  .container-fluid.worktabs.work-info.resume
                    block main
              else if (item._id === 'release02')
                // 應徵者紀錄
                .tab-pane.fade.work-list(id=`${item._id}`)
                  .container-fluid.worktabs.work-info.resume
                    //- include ../page/release_user
              else if (item._id === 'release03')
                // 加值服務
                .tab-pane.fade.in.active(id=`${item._id}`)
                  .container-fluid.worktabs.work-info.resume
                    include ../page/pay
      footer.work-detail-footer.container-fluid
        p.text-center 
          span © Copyright work news打工快報2018. 
          span All rights reserved.