include ../jsonFormat/tabs_site
include ../workLayout/layout
include ../components/accordion
<!DOCTYPE html>
html(lang="zh-hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
    link(rel="stylesheet", href="./dist/css/animate.min.css")
    link(rel="stylesheet", href="./dist/css/usercss.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="./dist/js/jquery.min.js")
    script(src="./dist/js/bootstrap.min.js")
    script(src="./dist/js/owl.carousel.min.js")
    script(src="./dist/js/vivus.min.js")
    script(src="./dist/js/userjs.js")
    title 會員履歷
  body
      include ../custom_module/social-menu
      include ../custom_module/header
      .container-fluid.worktabs.resume
        // tabs
        // desktop only
        ul.nav.nav-tabs.site
          each item,index in resume
            if (index === 0)
              li.active
                a(data-toggle="tab", href=`#${item._id}`)
                  span.visible-xs(class=item.icon)
                  span=item.title
            else if (index === 4)
              li.openMessage
                a(data-toggle="tab", href=`#${item._id}`)
                  span.visible-xs(class=item.icon)
                  span=item.title
            else
              li
                a(data-toggle="tab", href=`#${item._id}`)
                  span.visible-xs(class=item.icon)
                  span=item.title
        .tab-content.server
          each item, index in resume
              if (index === 0)
                .tab-pane.fade.in.active(id=`${item._id}`)
                  .container-fluid.worktabs.work-info.resume
                    .row
                      .col-sm-9.col-xs-12
                        block main
                      .col-sm-3
                        block side
              else if (item._id === 'resume02')
                // 會員應徵紀錄
                .tab-pane.fade.work-list(id=`${item._id}`)
                  article.col-xs-12
                    header.row
                      h3.title 會員應徵紀錄
                  .col-xs-12
                    .row
                      each info in contentCol
                        +layout(info)
                  .col-xs-12
                    .row.pageNav
                      ul.pagination
                        li.active
                          a(href="") 1
                        li
                          a(href="") 2
                        li
                          a(href="") 3
                        li
                          a(href="") 4
                        li
                          a(href="") 5
              else if (item._id === 'resume03')
                // 我的收藏
                .tab-pane.fade.work-list(id=`${item._id}`)
                  article.col-xs-12
                    header.row
                      h3.title 我的收藏
                  .col-xs-12
                    .row
                      each info in contentCol
                        +layout(info)
                  .col-xs-12
                    .row.pageNav
                      ul.pagination
                        li.active
                          a(href="") 1
                        li
                          a(href="") 2
                        li
                          a(href="") 3
                        li
                          a(href="") 4
                        li
                          a(href="") 5
              else if (item._id === 'resume04')
                // 會員資訊頁面
                .tab-pane.fade.work-list(id=`${item._id}`)
                  .row.work-information
                    include ../page/work_information
              else if (item._id === 'resume05')
                // 訊息記錄
                .tab-pane.fade.work-list(id=`${item._id}`)
                  .row.message-page
                    include ../page/message
              else
                .tab-pane.fade(id=`${item._id}`)
      include ../custom_module/footer
      //- footer.work-detail-footer.container-fluid
      //-   p.text-center 
      //-     span © Copyright work news打工快報2018. 
      //-     span All rights reserved.